body {
    background: #ff00cc;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #333399, #ff00cc);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #333399, #ff00cc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    
    font-family: 'Audiowide', cursive;
    font-family: 'Nova Flat', cursive;
}

#text-musculacion{
    color: #ff00cc;
}

#descripcion {
    resize: none;
}
.centrado {
    text-align: center;
    vertical-align: middle;
}
.container {
    background-color: transparent;
}
.rounded-circle {
    display: flex;
    justify-content: center;
    align-items: center;
  }

/* Estilos para los campos de cada socio */
#formFam .form-group {
    display: flex;
    margin-right: 10px;
    margin-bottom: 10px;
}

/* Estilos para el botón "Editar grupo familiar" */
#editarFam {
    margin-top: 10px;
}
  


.p-footer {
    margin-bottom: 0;
}